body{
	margin: 0;
	font-family: sans-serif;
	background: rgb(66, 8, 37);
}
h1{
    color: aliceblue;
}
.add{
    width: 40%;
	background: #2529f6d8;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 3px;
    border: 1px solid darkgray;
    text-decoration: none;
  }

.add:hover{
    width: 40%;
    background: #3a3df6d8;
    transform: scale(1.1);
}
.add:active{
	width: 50%;
	transform: scale(1.2);
}
